:root{
    --logo-font : "oxanium", sans-serif;
    --navbtn-font: "Share Tech Mono", monospace;

    --nav-btn-color: #333;
}












body{
    opacity: 0;
}



.glass-effect{
    background-color: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(10px);
}