/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, button{
    text-decoration: none;
    outline: none;
}




:root{
    font-size: 62.5%;
	box-sizing: border-box;
}
/* head
<script src="https://cdn.counter.dev/script.js" data-id="33f78ff6-536a-45bc-92b9-1b262ec69e8d" data-utcoffset="-3"></script>
<script src="https://kit.fontawesome.com/db1c54e319.js" crossorigin="anonymous"></script>    
*/
/* Media Queries 
    --small-mobile: 320px;
    --mobile: 480px;
    --small-tablet: 600px;
    --tablet: 768px;
    --large-tablet: 964px;
    --laptop: 1024px;
    --desktop: 1280px;
    --large-desktop: 1440px;
*/

/* 
    <footer>
        <div class="developed-by">
            <p id="dev-by"> 
                Developed with 💜 by 
            </p>
            <a href="https://alucinado-dev.vercel.app" target="_blank" rel="noopener noreferrer"></a>                
            <img src="src/assets/ALucin4do-logo.png" alt="logo of ALucin4do">
        </div>
    </footer>
*/




/*  :root{
    --logo1: #FF00FF;
    --logo2: #00FFFF;
    --logo3: #0600ab;
    --text-color-footer: #bacfdd;
    --tech: "Share Tech Mono", monospace;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: auto;

    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}



footer .developed-by{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: var(--text-color-footer);
    font-family: var(--tech);

}

footer .developed-by p{
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}



footer .developed-by a{
    font-weight: 900;
    transition: all 200ms ease-in-out;
    color: var(--text-color-footer);
    
    &::before{
        content: '</ALUCINADO>';
    }

    &:hover, &:focus{
        font-family: var(--tech);
        background-image: linear-gradient(180deg,var(--logo1) 30%,  var(--logo2) 70%);
        background-clip: text;
        color: transparent;
        text-shadow: 0px 0px 10px var(--logo3);
    }
}

footer .developed-by img{
    width: 35px;
    height: 35px;
} */


/* TO ADD IN MARKDOWN DOCUMENTATIONS
##   [My Portifolio](https://alucinado-dev.vercel.app).  <img src="src/assets/ALucin4do-logo.png" alt="logo of ALucin4do" style='width: 35px; height: 35px;'>
 */